@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#212529;
    color: #ffdb0f	;
    font-family: 'Oswald', sans-serif;

}

.app__logo {
    font-family: 'Pacifico', cursive;}